<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic"
        rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-select.min.css" rel="stylesheet">
  <!--     <link href="/css/slick-theme.css" rel="stylesheet"> -->
  <link href="/css/jquery.fancybox.css" rel="stylesheet">
  <link href="/css/selectric.css" rel="stylesheet">
  <link href="/css/jquery-ui.min.css" rel="stylesheet">
  <link href="/css/jquery-ui.structure.min.css" rel="stylesheet">
  <link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/chat.css" rel="stylesheet">
</head>
<body>
<div class="sitewrap">
  <nav class="side-nav patient-nav aligner">
    <div class="aligner-item--top">
      <div class="nav-profile">
        <div class="user-block">
          <a class="user-avatar" href="">
            <img src="images/m_none_photo_96.png">
          </a>
          <a class="user-name no-category" href="">Nikita Ryzhkov</a>
        </div>

        <div class="nav-close"></div>
      </div>
      <div class="nav-menu">
        <a class="nmenu-item" href="">
          <div class="nmenu-ico"><i class="icon-sprite menu-ico1"></i></div>
          <span>My enquiries</span></a>
        <a class="nmenu-item" href="">
          <div class="nmenu-ico"><i class="icon-sprite menu-ico2"></i></div>
          <span>Messages</span></a>
        <a class="nmenu-item" href="">
          <div class="nmenu-ico"><i class="icon-sprite menu-ico3"></i></div>
          <span>Doctors &amp; Clinics</span></a>
        <a class="nmenu-item" href="">
          <div class="nmenu-ico"><i class="icon-sprite menu-ico4"></i></div>
          <span>My Profile</span></a>
      </div>
    </div>

    <div class="aligner-item--bottom">
      <div class="nav-bottom">
        <div class="nb-logo"></div>
        <div class="nb-copy">
          © 2017 Medessentially Limited
        </div>
      </div>
    </div>
  </nav>

  <div class="main-block">
    <div class="main-header">
      <div class="container">
        <div class="header-left">
          <div class="header-hamburger">
            <span></span>
          </div>
        </div>
        <div class="header-right">
          <div class="header-lang">
            <div class="top-lang dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
              eng
            </div>
            <div class="dropdown-menu dd-lang">
              <ul class="dd-list">
                <li><a href="">Rus</a></li>
              </ul>
            </div>
          </div>
          <!-- <a class="header-button write-button" data-fancybox data-src="#popup" href="javascript:;"><span>+</span> Add Ticket</a> -->
          <a class="header-button exit-button" href=""></a>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="container">

        <h1 class="to-header">My enquiries</h1>

        <div class="moderation-tickets">
          <a href="" class="md-add-new">
            <div class="md-add-caption">Add new Ticket</div>
          </a>

          <div class="pt-item">
            <div class="pt-top">
              <div class="pt-last-change">
                Last changes: 09.03.2017 / 23:12 by Robert De Niro
              </div>
              <a href="" class="pt-caption">Unnamed_Ticket_009000-4</a>
              <div class="pt-descr">
                Your spine, or backbone, isn't completely straight. It curves slightly forward as it runs up your back.
                This gentle curve is normal, and it helps support your head and upper bodypine, or backbone, isn't
                completely straight. It curves slightly forward as it runs up your back. This gentle curve is normal,
                and it helps support your <span class="more">bodypine, or backbone, isn't completely straight. It curves slightly forward as it runs up your back. This gentle curve is normal, and it helps support your</span>
                <span class="show-more" href="">show more</span>
              </div>
            </div>
            <div class="pt-quotes justified">
              <div class="pt-files">
                <a href="">
                  <i class="report"></i>
                  <span class="filename-long" title="filenamelong.png">file...g.png</span>
                </a>
                <a href="">
                  <i class="pic"></i>
                  <span class="filename-long" title="filenamelong.jpg">filen...g.jpg</span>
                </a>
                <a href="">
                  <i class="txt"></i>
                  <span class="filename-long" title="filenamelong____long.docx">file...docx</span>
                </a>

              </div>
              <a href="" class="pt-q-button">View quotes</a>
            </div>
            <div class="pt-bottom justified">
              <div>Create on: 22.10.2018</div>
              <div>Job / Request ID: 45761</div>
              <div>3 quotes</div>
              <div class="pt-assistant">
                Your Assistant: Robert De Niro
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div id="chat-root" class="chat-root-popup">
    <div id="chat-button" class="chat-button"></div>
    <div class="popup-chat closed"></div>
  </div>
</div>
<div class="popup-wrap">
  <div id="delete">
    <div class="qm-container qm-delete">
      <p>Do you really want to delete this item?</p>
      <div class="buttons-wrap">
        <button data-fancybox-close class="cancel-button">Cancel</button>
        <button class="delete-button">Delete</button>
      </div>
    </div>
  </div>

  <div class="qm-wrap no-header" id="send">
    <div class="qm-container">
      <p>Do you really want to send this item?</p>
      <div class="buttons-wrap">
        <button class="send-button">Send</button>
        <button data-fancybox-close class="cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/bundle.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/trunk8.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
